@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  min-width: 1200px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #464646;

  background-color: brown;
}

a {
  text-decoration: none;
}

.main-navigation {
  background-color: #f7e296;
}

.main-navigation::after {
  content: "";
  width: 130px;
  height: 30px;
  margin-right: 12px;
  margin-left: 12px;

  background-image: url("../img/bar-white.png");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.breadcrumbs,
.user-navigation,
.user-navigation-footer,
.site-navigation,
.sub-menu ul,
.slide-switches,
.catalog-list,
.categories-list,
.brands-list {
  list-style: none;
}

.main-footer p {
  color: #ffffff;
}

.user-navigation a {
  font-size: 15px;
  color: #000000;
  line-height: 30px;
  letter-spacing: 2px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  opacity: 0.6;
}

.site-navigation a:active {
  opacity: 0.3;
}

.button-logout {
  opacity: 0.3;
}

.button-logout:hover,
.button-logout:focus {
  opacity: 0.6;
}

.logo-icon:hover,
.logo-icon:focus {
  opacity: 0.6;
}

.logo-icon:active {
  opacity: 0.3;
}

.search-line {
  opacity: 0.3;
  border: none;
  outline: none;
  background-color: transparent;
}

.search-line:hover,
.search-line:focus{
  opacity: 0.6;
}

.account a:active,
.compare a:active,
.cart a:active {
  opacity: 0.3;
}

.search-form {
  /* border-color: red;
  border-style: solid; */
  display: inline-block;
  padding-left: 50px;

  background-image: url("../img/search-icon.svg");
  background-repeat: no-repeat;
  background-position: left;
}

.account-icon::before{
  content: "";
  width: 13px;
  height: 12px;
  margin-right: 12px;
  margin-left: 12px;

  background-image: url("../img/account-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.account-icon-footer::before {
  content: "";
  width: 13px;
  height: 12px;
  margin-right: 12px;
  margin-left: 12px;

  background-image: url("../img/account-icon-footer.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.compare-icon::before {
  content: "";
  width: 10px;
  height: 10px;
  margin-right: 12px;
  margin-left: 12px;

  background-image: url("../img/compare-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.compare-icon-footer::before {
  content: "";
  width: 10px;
  height: 10px;
  margin-right: 12px;
  margin-left: 12px;

  background-image: url("../img/compare-icon-footer.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block
}

.cart-icon::before {
  content: "";
  width: 12px;
  height: 12px;
  margin-right: 12px;
  margin-left: 12px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.cart-icon-footer::before {
  content: "";
  width: 12px;
  height: 12px;
  margin-right: 12px;
  margin-left: 12px;

  background-image: url("../img/cart-icon-footer.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.catalog::after {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("../img/plus.png");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  opacity: 0.3;
}

.site-navigation a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;

  text-transform: uppercase;
  line-height: 24px;
  font-size: 18px;
  letter-spacing: 4px;
  color: #000000;
}

.site-navigation-footer a {
  color: #ffffff;
}

.sub-menu a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #464646;
  text-transform: none;
}

/* .slide-switches {
} */

.container h2,
.info h2,
.contacts h2,
.modal-feedback h2,
.popular b {
  font-size: 47px;
  font-family: "Gilroy", "Open Sans", sans-serif;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 4px;
  color: #000000;
}

.slide-number {
  font-family: "Gilroy", "Open Sans", sans-serif;
  font-size: 173.2px;
  font-weight: 800;
  color: #ffffff;
}

.category {
  position: relative;
  display: block;
  padding-top: 170px;
  /* margin: 0; */

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;

  text-transform: none;
  line-height: 24px;
  font-size: 18px;
  letter-spacing: 4px;
  color: #000000;
}

.category::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 160px;
  height: 160px;

  background-color: rgba(240, 197, 46, 0.5);
}

.category::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 160px;
  height: 160px;

  background-repeat: no-repeat;
  background-position: center;
}

.category:active::after {
  opacity: 0.3;
}

.category:hover::before,
.category:focus::before,
.category:active::before {
  background-color: rgba(240, 197, 46, 1);
}

.category-virtual::after {
  background-image: url("../img/category-virtual.png");
}

.category-monopod::after {
  background-image: url("../img/category-monopod.png");
  background-position: bottom;
}

.category-actioncam::after {
  background-image: url("../img/category-actioncam.png");
}

.category-bracelet::after {
  background-image: url("../img/category-bracelet.png");
}

.category-watch::after {
  background-image: url("../img/category-watch.png");
}

.category-copters::after {
  background-image: url("../img/category-copters.png");
}

.partners-item {
  font-size: 16px;
  font-family: "Gilroy", "Open Sans", sans-serif;
  font-weight: 800;
  line-height: 40px;
  color: #000000;
}

.header-with-bar {
  position: relative;

  padding-top: 40px;
}

.header-with-bar::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;

  width: 80px;
  height: 7px;
  background-color: #000000
}

/* .header-with-bar::before {
  content: "";
  width: 300px;
  height: 60px;

  background-image: url("../img/bar-black.png");
  background-repeat: no-repeat;
  background-position: left;
  display: block;
} */

.adress::after {
  content: "";
  width: 300px;
  height: 50px;

  background-image: url("../img/bar-yellow-footer.png");
  background-repeat: no-repeat;
  background-position: left;
  display: block;
}

.main-footer {
  background-color: #464646;
}

.user-navigation-footer a {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #ffffff;
  line-height: 30px;
  letter-spacing: 2px;

  opacity: 0.7;
}

.user-navigation-footer a:hover {
  opacity: 1;
}

.user-navigation-footer a:active {
  opacity: 0.3;
}

.site-navigation-footer a:hover {
  opacity: 0,7;
}

.site-navigation-footer a:hover {
  opacity: 0,3;
}

.social-button {
  width: 32px;
  height: 32px;
  margin: 10px;

  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;

  opacity: 0.3;
}

.social-button:hover,
.social-button:focus {
  opacity: 0.6;
}

.social-button:active {
  opacity: 0.1;
}

.social-button-fb {
  background-image: url("../img/social-button-fb.svg");
}

.social-button-inst {
  background-image: url("../img/social-button-inst.svg");
}

.social-button-tw {
  background-image: url("../img/social-button-tw.svg");
}

.html-academy-logo:hover,
.html-academy-logo:focus {
  opacity: 0.6;
}

.html-academy-logo:active {
  opacity: 0.3;
}

.button {
  width: 260px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 24px;
  color: #000000;
  letter-spacing: 5px;

  background-image: url("../img/bar-yellow.png");
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
}

.modal-feedback .button,
.filters .button {
  width: 260px;

  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
  text-align: center;
  display: block;
  border: none;
  background-color: transparent;

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 24px;
  color: #000000;
  letter-spacing: 5px;

  background-image: url("../img/bar-yellow.png");
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
}

.button:hover,
.button:focus {
  background-color: #f0c52e;
  background-size: auto;
  background-image: none;
}

.button:active, button:active {
  color: rgba(0, 0, 0, 0.3);
}

.modal-close {
  width: 55px;
  height: 55px;
  border: none;
  background-color: transparent;

  background-image: url("../img/modal-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  opacity: 0.5;
  outline: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto
}

.main-navigation {
  display: flex;
  flex-direction: column;
}

.user-interface,
.site-navigation,
.categories-list {
  display: flex;
  flex-direction: row;
}

.categories-list {
  justify-content: space-between;
}
