/*
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
*/

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2");
  /* font-weight: 800; */
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2");
  /* font-weight: 400; */
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: #464646;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-navigation {
  background-color: #f7e296;
}

.user-navigation, .user-navigation-footer {
  list-style: none;
}

.main-footer p {
  color: #ffffff;
}

.user-navigation a {
  font-size: 15px;
  color: #000000;
  line-height: 30px;
  letter-spacing: 2px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  opacity: 0.6;
}

.site-navigation a:active {
  opacity: 0.3;
}

.button-logout {
  opacity: 0.3;
}

.button-logout:hover,
.button-logout:focus {
  opacity: 0.6;
}

.logo-icon:hover {
  opacity: 0.6;
}

.logo-icon:active {
  opacity: 0.3;
}

.search-line {
  opacity: 0.3;
  border: none;
  outline: none;
  background-color: transparent;
}

.search-line:hover,
.search-line:focus{
  opacity: 0.6;
}

.account a:hover,
.compare a:hover,
.cart a:hover {
  opacity: 0.6;
}

.account a:active,
.compare a:active,
.cart a:active {
  opacity: 0.3;
}

.search-form {
  /* border-color: red;
  border-style: solid; */
  display: inline-block;
  padding-left: 50px;
  background-image: url("../img/search-icon.svg");
  background-repeat: no-repeat;
  background-position: left;
}

.account-icon::before{
  content: "";
  width: 13px;
  height: 12px;
  margin-right: 12px;
  margin-left: 12px;

  background-image: url("../img/account-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.account-icon-footer::before {
  content: "";
  content: "";
  width: 13px;
  height: 12px;
  margin-right: 12px;
  margin-left: 12px;

  background-image: url("../img/account-icon-footer.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}


.compare-icon::before {
  content: "";
  width: 10px;
  height: 10px;
  margin-right: 12px;
  margin-left: 12px;

  background-image: url("../img/compare-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.compare-icon-footer::before {
  content: "";
  width: 10px;
  height: 10px;
  margin-right: 12px;
  margin-left: 12px;

  background-image: url("../img/compare-icon-footer.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block
}

.cart-icon::before {
  content: "";
  width: 12px;
  height: 12px;
  margin-right: 12px;
  margin-left: 12px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.cart-icon-footer::before {
  content: "";
  width: 12px;
  height: 12px;
  margin-right: 12px;
  margin-left: 12px;

  background-image: url("../img/cart-icon-footer.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.catalog::after {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("../img/plus.png");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  opacity: 0.3;
}

.site-navigation, .sub-menu {
  list-style: none;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
}

.site-navigation a {
  text-transform: uppercase;
  line-height: 24px;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 4px;
  color: #000000;
}

.info h2, .contacts h2, .modal-feedback h2 {
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 4px;
}

.partners-item {
  font-size: 16px;
  font-family: "Gilroy", "Open Sans", sans-serif;
  font-weight: 800;
  line-height: 40px;
  color: #000000;
}

.header-with-bar::before {
  content: "";
  width: 300px;
  height: auto;

  background-image: url("../img/bar-black.png");
  background-repeat: no-repeat;
  background-position: left;
  display: block;
}

.adress::after {
  content: "";
  width: 300px;
  height: 50px;

  background-image: url("../img/bar-yellow-footer.png");
  background-repeat: no-repeat;
  background-position: left;
  display: block;
}

.main-footer {
  background-color: #464646;
}

.footer-navigation, .user-navigation-footer a {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #ffffff;
  line-height: 30px;
  letter-spacing: 2px;

  opacity: 0.7;
}

.footer-navigation .user-navigation a:hover {
  opacity: 1;
}

.footer-navigation .user-navigation a:active {
  opacity: 0.3;
}

.footer-navigation .site-navigation a {
  text-transform: uppercase;
  ont-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  line-height: 24px;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 4px;
  color: #ffffff;

}

.footer-navigation .site-navigation a:hover {
  opacity: 0,7;
}

.footer-navigation .site-navigation a:active {
  opacity: 0,3;
}

.social-button {
  width: 32px;
  height: 32px;

  margin: 10px;

  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;

  opacity: 0.3;
}

.social-button:hover,
.social-button:focus {
  opacity: 0.6;
}

.social-button:active {
  opacity: 0.1;
}

.social-button-fb {
  background-image: url("../img/social-button-fb.svg");
}

.social-button-inst {
  background-image: url("../img/social-button-inst.svg");
}

.social-button-tw {
  background-image: url("../img/social-button-tw.svg");
}

.button, button.modal-map {
  width: 260px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;


  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 24px;
  color: #000000;
  letter-spacing: 5px;

  background-image: url("../img/bar-yellow.png");
  background-repeat: no-repeat;
  background-position: center;
}

.modal-feedback .button, .filters .button {
  width: 260px;

  padding-left: auto;
  padding-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  display: block;
  border: none;
  background-color: transparent;

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 24px;
  color: #000000;
  letter-spacing: 5px;

  background-image: url("../img/bar-yellow.png");
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
}

.button:hover,
.button:focus,
button:hover,
button:focus {
  background-color: #f0c52e;
  background-size: auto;
  background-image: none;
}

.button:active, button:active {
  color: rgba(0, 0, 0, 0.3);
}

.modal-close {
  width: 55px;
  height: 55px;
  background-image: url("../img/modal-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  opacity: 0.5;
}
